sendill_client/Service References/SendillServRef/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/sendillwcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/sendillwcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfvsk_types">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vsk_types" nillable="true" type="tns:vsk_types" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvsk_types" nillable="true" type="tns:ArrayOfvsk_types" />
  <xs:complexType name="vsk_types">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="calcnum" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vsk_types" nillable="true" type="tns:vsk_types" />
  <xs:complexType name="ArrayOfCar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Car" nillable="true" type="tns:Car" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCar" nillable="true" type="tns:ArrayOfCar" />
  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="backdoorheight" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="backdoorlength" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="car1" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="car10" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="car2" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="car3" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="car4" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="car5" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="car6" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="car7" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="car8" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="car9" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="carname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="carnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="daddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dkt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dmobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dphone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dpostcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="driver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dtown" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="heightofbox" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="isdel" type="xs:boolean" />
      <xs:element minOccurs="0" name="kt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="length" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="liftsize" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="listed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="maxcarry" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sidedoorheight" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="sidedoorlength" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="size" type="xs:int" />
      <xs:element minOccurs="0" name="stationid" type="xs:int" />
      <xs:element minOccurs="0" name="town" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="volume" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="weightlimit" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="width" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Car" nillable="true" type="tns:Car" />
  <xs:complexType name="ArrayOfcarbasic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="carbasic" nillable="true" type="tns:carbasic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcarbasic" nillable="true" type="tns:ArrayOfcarbasic" />
  <xs:complexType name="carbasic">
    <xs:sequence>
      <xs:element minOccurs="0" name="carname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="carnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="driver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="isdel" type="xs:boolean" />
      <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="size" type="xs:int" />
      <xs:element minOccurs="0" name="stationid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="carbasic" nillable="true" type="tns:carbasic" />
</xs:schema>