sendill_client/Service References/SendillServRef/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcfsendill.azurewebsites.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcfsendill.azurewebsites.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcfsendill.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/sendillwcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISendillService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ISendillService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISendillService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ISendillService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ISendillService_GetAllVskTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVskTypes" />
  </wsdl:message>
  <wsdl:message name="ISendillService_GetAllVskTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVskTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ISendillService_GetAllCars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCars" />
  </wsdl:message>
  <wsdl:message name="ISendillService_GetAllCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCarsResponse" />
  </wsdl:message>
  <wsdl:message name="ISendillService_GetBasicCarList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBasicCarList" />
  </wsdl:message>
  <wsdl:message name="ISendillService_GetBasicCarList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBasicCarListResponse" />
  </wsdl:message>
  <wsdl:portType name="ISendillService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendillService/GetData" message="tns:ISendillService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendillService/GetDataResponse" message="tns:ISendillService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendillService/GetDataUsingDataContract" message="tns:ISendillService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendillService/GetDataUsingDataContractResponse" message="tns:ISendillService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVskTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendillService/GetAllVskTypes" message="tns:ISendillService_GetAllVskTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendillService/GetAllVskTypesResponse" message="tns:ISendillService_GetAllVskTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCars">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendillService/GetAllCars" message="tns:ISendillService_GetAllCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendillService/GetAllCarsResponse" message="tns:ISendillService_GetAllCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBasicCarList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendillService/GetBasicCarList" message="tns:ISendillService_GetBasicCarList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendillService/GetBasicCarListResponse" message="tns:ISendillService_GetBasicCarList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISendillService" type="tns:ISendillService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ISendillService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ISendillService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVskTypes">
      <soap:operation soapAction="http://tempuri.org/ISendillService/GetAllVskTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCars">
      <soap:operation soapAction="http://tempuri.org/ISendillService/GetAllCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBasicCarList">
      <soap:operation soapAction="http://tempuri.org/ISendillService/GetBasicCarList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_ISendillService" binding="tns:BasicHttpBinding_ISendillService">
      <soap:address location="http://wcfsendill.azurewebsites.net/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>